.button--normal { 
  background-color: #1a4884;
  color: inherit;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
  padding: .5em 1.5em;
}

.button--normal:hover {
  background-color: #152a47;
  color: #a7a9b1
}