.landing--page {
  text-align: center;
  margin-bottom: 10em;
  border: 2px solid #1f63bd;
  border-radius: 1em;
  padding: 0 2em 1em 2em;
}

form.quiz--form {
  display: flex;
  flex-direction: column;
}

span.answer-button {
  padding: .5em 1.5em;
  border: 1px solid #fff;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

span.checked {
  background-color: gray;
}

button.check--answers--button {
  padding: .5em 2em;
  font-size: 1rem;
}

span.correct {
  background-color: green;
}