.landing--page {
  text-align: center;
  margin-bottom: 10em;
  border: 2px solid #1f63bd;
  border-radius: 1em;
  padding: 0 2em 1em 2em;
}

span.answer-button {
  padding: .5em 1.5em;
  border: 1px solid #fff
}